.title-content {
  padding: 32px;
  margin-bottom: 32px;
}

.title-content h2 {
  text-align: center;
  font-size: 50px;
}

.app-content {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.hangman-container {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hangman-gallows-content {
  width: 500px;
  height: 500px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.left-side-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hint-content {
  font-size: 30px;
}

.wrong-word-keys {
  display: flex;
  gap: 4px;
}

.wrong-word-keys div {
  font-size: 18px;
  font-weight: bold;
}

.keyboard {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border-top: 1px solid #ccc;
  padding-top: 32px;
}

.keyboard-keys {
  align-self: center;
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.word-content {
  margin-top: 32px;
}

#feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
}

.feedback-content {
  align-self: center;
  display: flex;
  gap: 32px;
}

.reset-button-container button {
  background-color: #198754;
  padding: 10px 16px;
  color: #fff;
  border-radius: 4px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content p {
  text-align: center;
}

#selected-word {
  font-weight: bold;
}

.button-key {
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.button-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  cursor: not-allowed;
}

.button-error {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: not-allowed;
}

.word-keys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 32px;
}

.feedback-success {
  color: #198754;
}

.feedback-error {
  color: #dc3545;
}

.word-keys div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 8px 2px 8px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.word-keys div::after {
  content: "";
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}
