.form-container {
  align-self: center;
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #b27214;
  color: #fff;
  padding: 40px 22px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

input {
  width: 100%;
  background-color: #995c0d;
  padding: 10px 8px;
  border-radius: 4px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container div {
  align-self: center;
}

button {
  background-color: #eeaf42;
  padding: 8px 20px;
  border-radius: 8px;
  text-transform: uppercase;
}

button:hover {
  background-color: #f7b239;
}
